.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
  background-color: #fff;
  border-top: 1px solid #eee;
  z-index: 1000;
}

.tab-bar-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .tab-bar-icon {
    font-size: 40px;
    color: #999;
    margin-bottom: 4px;
  }
  
  .tab-bar-text {
    font-size: 22px;
    color: #999;
  }
  
  &.active {
    .tab-bar-icon {
      color: #7bc96f;
    }
    
    .tab-bar-text {
      color: #7bc96f;
    }
  }
}
