.login {
  min-height: 100vh;
  background: linear-gradient(180deg, #f8f8f8 0%, #fff 100%);
  padding: 120px 40px 40px;
  box-sizing: border-box;

  .logo {
    text-align: center;
    margin-bottom: 60px;

    .logo-icon {
      font-size: 80px;
    }

    .logo-text {
      display: block;
      font-size: 28px;
      color: #333;
      margin-top: 16px;
      font-weight: 500;
    }
  }

  .form {
    .form-item {
      margin-bottom: 24px;

      .label {
        font-size: 28px;
        color: #333;
        margin-bottom: 12px;
        display: block;
      }

      .input {
        width: 100%;
        height: 88px;
        background: #f5f5f5;
        border-radius: 12px;
        padding: 0 24px;
        font-size: 28px;
        box-sizing: border-box;
        border: none;

        &::placeholder {
          color: #999;
        }
      }
    }

    .submit-btn {
      width: 100%;
      height: 88px;
      background: linear-gradient(90deg, #ff6b00 0%, #ff8533 100%);
      border-radius: 44px;
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      margin-top: 40px;
      border: none;

      &::after {
        border: none;
      }

      &.disabled {
        opacity: 0.6;
      }

      &.wx-btn {
        background: linear-gradient(90deg, #07c160 0%, #10d070 100%);
      }
    }

    .wx-tip {
      text-align: center;
      margin-top: 24px;

      .tip-text {
        font-size: 26px;
        color: #999;
      }
    }

    .switch-mode {
      text-align: center;
      margin-top: 32px;

      .switch-text {
        font-size: 26px;
        color: #ff6b00;
      }
    }
  }

  .agreement {
    position: fixed;
    bottom: 60px;
    left: 40px;
    right: 40px;
    text-align: center;

    .agreement-text {
      font-size: 24px;
      color: #999;

      .link {
        color: #ff6b00;
      }
    }
  }
}
