.custom-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 999;
}

.tab-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .tab-icon {
    font-size: 40px;
    color: #999;
    margin-bottom: 4px;
    font-family: system-ui, -apple-system, sans-serif;
  }
  
  .tab-text {
    font-size: 22px;
    color: #999;
  }
  
  &.active {
    .tab-icon {
      color: #8b7355;
    }
    
    .tab-text {
      color: #8b7355;
      font-weight: 500;
    }
  }
}
